.bar-chart-diagram {
  overflow: auto;
  background-color: #F3F9FF;

  .opaque {
    background-color: #F3F9FF;
  }

  .axis {
    path {
      fill: none;
      stroke: #000000;
      shape-rendering: crispEdges;
    }

    .tick {
      text {
        fill: #0044ff;
      }
    }

    .label {
      fill: #0044ff;
      font-size: large;
      text-anchor: end;
    }
  }

  .bars {
    text {
      font-size: 14px;
    }
  }

  .legend {
    text {
      font-size: 12px;
      text-shadow: 0 2px 0 #FFF, 2px 0 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF;
      text-anchor: end;
    }
  }
}

.d3-tip {
  &.bar-chart-diagram {
    background-color: rgba(0, 0, 0, 0.8);;
    color: #FFF;
    border-radius: 5px;
    display: table;

    .datum-property {
      display: table-row;
      .property-label {
        padding: 2px;
        display: table-cell;
      }
      .property-value {
        text-align: right;
        display: table-cell;
        color: #FFFF80;
      }
    }
  }
}
