.node-mixin() {
  cursor: pointer;
  pointer-events: visible;

  &:hover {
    stroke: #000000;
    stroke-width: 1.5px;
  }
}

.hierarchical-node-mixin() {
  .node-mixin;
  &.node-root {
    stroke: #777777;
    stroke-width: 2px;
    pointer-events: none;
  }
  &.node-leaf {
    cursor: default;
    fill: #FFFFFF;
    stroke: #777777;
    stroke-width: 1px;
    pointer-events: fill;
  }
}

.hierarchical-label-mixin(@parent_color, @leaf_color, @parent_shadow_color, @leaf_shadow_color) {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;

  &.label-parent {
    fill: @parent_color;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 2px 0 @parent_shadow_color, 2px 0 0 @parent_shadow_color, -2px 0 0 @parent_shadow_color, 0 -2px 0 @parent_shadow_color;
  }

  &.label-leaf {
    fill: @leaf_color;
    text-shadow: 0 1px 0 @leaf_shadow_color, 1px 0 0 @leaf_shadow_color, -1px 0 0 @leaf_shadow_color, 0 -1px 0 @leaf_shadow_color;
  }
}

.circle-packing-diagram {
  background-color: #333333;

  svg {
    padding: 5px;
  }

  &#hotspot-analysis-sloc, &#hotspot-analysis-totalComplexity, &.temporal-coupling {
    .node {
      .hierarchical-node-mixin;
    }

    .label {
      .hierarchical-label-mixin(#0044ff, #000000, #FFFFFF, #FFFFFF);

      &.label-heavy {
        fill: #ffffff;
        text-shadow: 0 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
      }
    }
  }

  &#knowledge-map {
    .node {
      .hierarchical-node-mixin;
    }
    .label {
      .hierarchical-label-mixin(#FFFFFF, #000000, #000000, #FFFFFF);
    }
  }

  &#authors-coupling {
    font-size: 10px;
    .node {
      .node-mixin;
      stroke: #777777;
      stroke-width: 1px;

      &.node--root {
        fill: #F5F5F5;
        pointer-events: none;
      }

      &.selected {
        stroke: #000;
        stroke-width: 3px;
      }
    }

    .label {
      dy: 0.3em;
      text-anchor: middle;
      pointer-events: none;
    }
  }
}

@tooltip-border: 1px solid #000;

.d3-tip {
  &.circle-packing-diagram {
    background-color: #FFF;
    color: #000;
    border-radius: 0 0 5px 5px;
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    border-left: @tooltip-border;
    border-right: @tooltip-border;
    border-bottom: @tooltip-border;
    display: table;

    .node-name {
      font-size: 14px;
      padding: 5px;
      color: #FFF;
      text-align: center;
      background-color: #4682B4;
      display: table-caption;
      border-radius: 5px 5px 0 0;
      border-top: @tooltip-border;
      border-left: @tooltip-border;
      border-right: @tooltip-border;
    }

    .node-property {
      display: table-row;
      .property-label {
        padding: 2px;
        display: table-cell;
      }
      .property-value {
        text-align: right;
        display: table-cell;
        color: #4682B4;
      }
    }
  }
}
