.line-chart-diagram {
  background-color: #FaFaFa;

  .axis-mixin() {
    .axis {
      path {
        shape-rendering: crispEdges;
      }
      .tick {
        text {
          fill: #0044ff;
        }
      }

      .label {
        fill: #0044ff;
        font-size: large;
        text-anchor: end;
      }
    }
  }

  .line-mixin() {
    .line {
      fill: none;
      stroke-width: 2px;
    }
  }

  .legend-mixin() {
    .legend {
      text {
        font-size: 12px;
        text-anchor: end;
      }
    }
  }

  &#system-evolution-revisions, &#system-evolution-churn {
    .axis-mixin;
    .line-mixin;
    .legend-mixin;
  }

  &#cx-complexity, &#cx-mean, &#cx-deviation {
    .axis-mixin;
    .line-mixin;
    .legend-mixin;

    .brush rect {
      fill-opacity: 0.1;
    }

    .zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
    }

    .dots {
      opacity: 0.8
    }
  }
}

.d3-tip {
  &.line-chart-diagram {
    background-color: #FFF;
    padding: 0px 5px 5px 5px;
    border: 1px solid #ddd;

    transition: opacity 300ms linear;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    .title {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }

    .tooltip-element-mixin(#000; left; 2px 5px 2px 0; bold);
  }
}
