.graph-container {
  .diagram {
    &.circle-packing-diagram {
      background-color: #333333;
      svg {
        padding: 5px;
      }
    }
    &.line-chart-diagram {
      border: solid 1px #A0A0A0;
    }
    &.bar-chart-diagram {
      border: solid 1px #A0A0A0;
      overflow: auto;
      background-color: #F3F9FF;

      .chart-axis {
        background-color: #F3F9FF;
        path {
          fill: none;
          stroke: #000000;
          shape-rendering: crispEdges;
        }

        .tick {
          text {
            fill: #0044ff;
          }
        }
      }
    }
  }
  .msg-large {
    color: #DD1010;
    text-align: center;
    font-size: large;
  }
}

.circle-packing {
  .node {
    cursor: pointer;
    pointer-events: visible;

    &:hover {
      stroke: #000000;
      stroke-width: 1.5px;
    }
    &.node--root {
      stroke: #777777;
      stroke-width: 2px;
      pointer-events: none;
    }
    &.node--leaf {
      cursor: default;
      fill: #FFFFFF;
      stroke: #777777;
      stroke-width: 1px;
      pointer-events: fill;
    }
  }

  .label {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;

    &.label-parent {
      fill: #0044ff;
      font-weight: bold;
      text-shadow: 0 1px 0 #FFF, 1px 0 0 #FFF, -1px 0 0 #FFF, 0 -1px 0 #FFF;
    }
    &.label--light {
      fill: #000000;
      text-shadow: 0 1px 0 #FFF, 1px 0 0 #FFF, -1px 0 0 #FFF, 0 -1px 0 #FFF;
    }
    &.label--heavy {
      fill: #ffffff;
      text-shadow: 0 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    }
  }
}

.line-chart {
  background-color: #F3F9FF;

  .axis {
    path {
      fill: none;
      stroke: #000000;
      shape-rendering: crispEdges;
    }
    .tick {
      line {
        fill: none;
        stroke-width: 1px;
        stroke: #D3D3D3;
        opacity: 0.7;
      }
      text {
        fill: #0044ff;
      }
    }

    .label {
      fill: #0044ff;
      font-size: large;
      text-anchor: end;
    }
  }

  .line {
    fill: none;
    stroke-width: 2px;
  }

  .legend {
    text {
      font-size: 12px;
      text-anchor: end;
    }
  }
}

.bar-chart {
  .axis {
    path {
      fill: none;
      stroke: #000000;
      shape-rendering: crispEdges;
    }

    .tick {
      line {
        fill: none;
        stroke-width: 1px;
        stroke: #D3D3D3;
        opacity: 0.7;
      }
      text {
        fill: #0044ff;
      }
    }

    .label {
      fill: #0044ff;
      font-size: large;
      text-anchor: end;
    }
  }

  .bars {
    text {
      font-size: 14px;
    }
  }

  .legend {
    text {
      font-size: 12px;
      text-anchor: end;
    }
  }
}
