.metric-filter {
  padding: 0 5px;
  color: #4682B4;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0;

  output {
    float: right;
    color: #000;
    padding-right: 5px;
    font-weight: normal;
    text-align: right;
  }
}
