@import 'diagrams.less';
@import 'graph_controls.less';
@import 'slider.less';
@import 'd3_tip.less';
@import 'reports_table.less';

body {
  font-family: sans-serif;
  font-size: 10px;
}

#container {
  margin: 0 auto;
  width: 1180px;

  .report-info {
    margin-left: 210px;
    .title {
      font-size: x-large;
    }
    .description {
      font-size: large;
      font-style: italic;
    }
    .time-period {
      margin: 10px 0 10px 0;
      font-size: medium;
    }
  }

  .report-controls {
    float: left;
    min-width: 200px;

    .diagram-selection {
      border: 1px solid;
      border-radius: 5px;
      max-height: 210px;
      overflow-y: auto;
      input {
        visibility: hidden;
        position: absolute;
        left: -9999px;
        top: -9999px;
        &:checked + label {
          color: #FFFFFF;
          background-color: #4682B4;
        }
      }
      label {
        background-color: #F9F9F9;
        border-radius: .25em;
        color: #000000;
        cursor: pointer;
        display: block;
        font-size: 1.2em;
        line-height: 24px;
        border:1px solid #FFFFFF;
        padding: 0 5px;
        text-align: center;
        &:hover {
          background-color: #DDDDDD;
          color: #666666;
        }
      }
    }
  }

  .graph-content {
    margin-left: 210px;
    background-color: #F1F1F1;
    border: 1px solid #C0C0C0;
    position: relative;

    .graph-container {
      margin-top: 10px;
      position: absolute;
      opacity: 0;
      z-index: -10;
      display: flex;
      &.showing {
        opacity: 1;
        z-index: 10;
      }
    }
  }
}
